djangorestframework
django-filter
pyjwt==1.7.1
djangorestframework-simplejwt[crypto]
django-storages
boto3
python-dotenv
markdown
pillow
django-mailjet
django-cors-headers
django-resized
channels[daphne]
django-unfold
python-decouple
kaleido
pandas
dj-database-url
pyyaml
ua-parser
user-agents
geoip2
django-user-agents
channels_redis
channels
django-s3-storage
psycopg[binary,pool]
